<!--<h1>🤔🤨🤔🤔</h1>-->
<div class="chat-message">
  <ul class="list-unstyled chat">
    <li class="d-flex justify-content-between mb-4">
      <app-image-robot></app-image-robot>
      <div class="message-box-holder" style="padding-top: 30px">
        <div class="message-box message-partner">
          <h1 class="text-black" #salutation>Salut ,
            <br>
            Merci de cliquer à chaque fois le champs de text.
          </h1>
        </div>
      </div>
    </li>

    <li class="d-flex justify-content-between mb-4" *ngIf="activateLien">
      <app-image-robot></app-image-robot>
      <div class="message-box-holder" style="padding-top: 30px" (click)="ouiLien()" id="lien">
        <div class="message-box message-partner">
          <h1>
            Avez vous un problem de dedoublonnage ?
          </h1>
        </div>
        <div class="flex-center" *ngIf="activateLienON" id="blocLien">
          <button type="button" class="btn btn-info" (click)="problemLien('blocLien', 'lien')">oui <i
            class="far fa-grin"></i></button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="nonLien('blocLien', 'lien')">Non <i
            class="far fa-frown"></i></button>
        </div>
      </div>
    </li>


  </ul>
</div>
