<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" style="max-width: 200px; width: 200px; margin-left: 40px ">
      <!--      <h6 class="text-muted list-group-item list-group-item-action active">Quelle est votre probléme </h6>-->
      <div class="list-group" style="max-width: 200px; width: 200px; ">
        <button type="button" class="btn btn-outline-primary" (click)="selecProblem('CRM')">
          CRM
        </button>
        <button type="button" class="btn btn-outline-primary " (click)="selecProblem('voice')">Voice</button>
        <button type="button" class="btn btn-outline-primary" (click)="selecProblem('billing')">Billing</button>
      </div>
    </div>
  </div>
</div>

