<!--&lt;!&ndash;<script src="../../../assets/js/test.js" ></script>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="cards">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card " data-card="0">&ndash;&gt;-->
<!--&lt;!&ndash;    <img class="card-img-top" src="..." alt="Card image cap">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;      <h5 class="card-title">Card title</h5>&ndash;&gt;-->
<!--&lt;!&ndash;      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="https://www.google.com/" class="btn btn-primary">Go somewhere</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card" data-card="1">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="" data-icon="2">&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="www.google.com">cliqer ggggg ggggggggg</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="card__detail"><a href="www.google.com">cliqer ggggg ggggggggg</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card fill-green" data-card="2">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="card__icon" data-icon="3"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="card__detail">&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="www.google.com" > details</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash; Section: Testimonials v.2 &ndash;&gt;-->
<!--<section class="text-center my-5">-->
<!--  &lt;!&ndash; Section heading &ndash;&gt;-->
<!--  <h2 class="h1-responsive font-weight-bold my-5">Testimonials v.2</h2>-->
<!--  &lt;!&ndash;Carousel Wrapper&ndash;&gt;-->
<!--  <mdb-carousel [isControls]="false" [animation]="'slide'" class="testimonial-carousel">-->
<!--    &lt;!&ndash;First slide&ndash;&gt;-->
<!--    <mdb-slide>-->
<!--      <div class="testimonial">-->
<!--        &lt;!&ndash;Avatar&ndash;&gt;-->
<!--        <div class="avatar mx-auto mb-4">-->
<!--          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"-->
<!--               alt="First sample avatar image">-->
<!--        </div>-->
<!--        &lt;!&ndash;Content&ndash;&gt;-->
<!--        <p>-->
<!--          <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos-->
<!--          id-->
<!--          officiis hic tenetur quae quaerat ad-->
<!--          velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet-->
<!--          molestias-->
<!--          voluptatum-->
<!--          inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.-->
<!--        </p>-->
<!--        <h4 class="font-weight-bold">Anna Deynah</h4>-->
<!--        <h6 class="font-weight-bold my-3">Founder at ET Company</h6>-->
<!--        &lt;!&ndash;Review&ndash;&gt;-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>-->
<!--      </div>-->
<!--    </mdb-slide>-->
<!--    &lt;!&ndash;/First slide&ndash;&gt;-->
<!--    &lt;!&ndash;Second slide&ndash;&gt;-->
<!--    <mdb-slide>-->
<!--      <div class="testimonial">-->
<!--        &lt;!&ndash;Avatar&ndash;&gt;-->
<!--        <div class="avatar mx-auto mb-4">-->
<!--          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"-->
<!--               alt="Second sample avatar image">-->
<!--        </div>-->
<!--        &lt;!&ndash;Content&ndash;&gt;-->
<!--        <p>-->
<!--          <mdb-icon fas icon="quote-left"></mdb-icon> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut-->
<!--          fugit,-->
<!--          sed quia consequuntur magni dolores-->
<!--          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit-->
<!--          amet,-->
<!--          consectetur,-->
<!--          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.-->
<!--        </p>-->
<!--        <h4 class="font-weight-bold">Maria Kate</h4>-->
<!--        <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>-->
<!--        &lt;!&ndash;Review&ndash;&gt;-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--      </div>-->
<!--    </mdb-slide>-->
<!--    &lt;!&ndash;/Second slide&ndash;&gt;-->
<!--    &lt;!&ndash;Third slide&ndash;&gt;-->
<!--    <mdb-slide>-->
<!--      <div class="testimonial">-->
<!--        &lt;!&ndash;Avatar&ndash;&gt;-->
<!--        <div class="avatar mx-auto mb-4">-->
<!--          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"-->
<!--               alt="Third sample avatar image">-->
<!--        </div>-->
<!--        &lt;!&ndash;Content&ndash;&gt;-->
<!--        <p>-->
<!--          <mdb-icon fas icon="quote-left"></mdb-icon> Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--          cillum dolore-->
<!--          eu fugiat nulla-->
<!--          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit-->
<!--          anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium-->
<!--          doloremque-->
<!--          laudantium.</p>-->
<!--        <h4 class="font-weight-bold">John Doe</h4>-->
<!--        <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>-->
<!--        &lt;!&ndash;Review&ndash;&gt;-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--        <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>-->
<!--      </div>-->
<!--    </mdb-slide>-->
<!--    &lt;!&ndash;/Third slide&ndash;&gt;-->
<!--  </mdb-carousel>-->
<!--  &lt;!&ndash;/.Carousel Wrapper&ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; Section: Testimonials v.2 &ndash;&gt;-->
