<!--<h1>🤔🤨🤔🤔</h1>-->
<div class="chat-message">
  <ul class="list-unstyled chat">
    <li class="d-flex justify-content-between mb-4">
      <app-image-robot></app-image-robot>
      <div class="message-box-holder" style="padding-top: 30px">
        <div class="message-box message-partner">
          <h1 class="text-black" #salutation>Salut ,
            <br>
            Merci de cliquer à chaque fois le champs de text.
          </h1>
        </div>
      </div>
    </li>

    <li class="d-flex justify-content-between mb-4" *ngIf="activatelien">
      <app-image-robot></app-image-robot>
      <div class="message-box-holder" style="padding-top: 30px" (click)="ouiLien()" id="Lien">
        <div class="message-box message-partner">
          <h1>
            Consulter ce lien
          </h1>
        </div>
        <br>
        <div class="message-box message-partner">
          <h1>
            www.comunikcrm.com/
          </h1>
        </div>
        <div class="flex-center" *ngIf="activateLienBloc" id="lienBloc">
          <button type="button" class="btn btn-info" (click)="problemLien('lienBloc', 'Lien')">oui<i
            class="far fa-grin"></i></button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="nonLien('lienBloc', 'Lien')">Non <i
            class="far fa-frown"></i></button>
        </div>
      </div>
    </li>

    <li class="d-flex justify-content-between mb-4" *ngIf="activateVerivication">
      <app-image-robot></app-image-robot>
      <div class="message-box-holder" style="padding-top: 30px" (click)="ouiVerification()" id="verification">
        <div class="message-box message-partner">
          <h1>
            Vérifier bien que qu’il y a Un commercial affecté Au fichier
          </h1>
        </div>
        <div class="flex-center" *ngIf="activateVerivicationbloc" id="verificationBloc">
          <button type="button" class="btn btn-info" (click)="problemVerification('verificationBloc', 'verification')">
            oui<i
            class="far fa-grin"></i></button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="nonVerification('verificationBloc', 'verification')">Non
            <i
              class="far fa-frown"></i></button>
        </div>
      </div>
    </li>


  </ul>
</div>
